* {
	margin: 0;
}
html, body {
	height: 100%;
}
.layout {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
    margin-bottom: -69px; /* the bottom margin is the negative value of the footer's height */
	padding-bottom: 69px;
}
footer, .push {
	height: 69px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/