@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext);

body {
    background: url(/images/top-menu-bg.png) repeat-x left 130px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #434343;
    line-height: 1.2;
}

footer {
    background: url(/images/footer-bg.png) repeat-x left bottom;
}

a {
    color: #434343;
    text-decoration: none;
    position: relative;
}

i {
    font-style: italic;
}


ul {
    display: block;
}

ul li {
    padding-bottom: 5px;
}

ul li:before {
    content: '\2013  ';
}

.h1, .h2, .h3 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.yellow {
    color: #d9ad62;
}

.lined {
    position: relative;
}

.lined:after {
    background: url(/images/curved-line-bg.png) no-repeat left;
    content: '';
    position: absolute;
    bottom: -10px;
    left: -7px;
    width: 205px;
    height: 100%; /*11px*/
}

a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px;

    border-width: 0 0 1px;
    border-style: solid;
}

a:hover:after {
    border: none;
}

p {
    padding-bottom: 15px;
}

.wrapper {
	position: relative;
	width: 1024px;
    padding: 0 22px;
    margin: 0 auto;
}

header {
    position: relative;
	height: 140px;
}

header .logo {
    position: absolute;
    top: 16px;
    left: 37px;
}

header .logo a:after {
    border: none;
}

header .contacts {
    position: absolute;
    top: 40px;
    right: 22px;
    text-align: right;
}

header .feedback, header .mail {
    font-size: 14px;
}

header .phone {
    font-size: 18px;
    padding: 5px 0 8px;
}

.topmenu {
    padding: 0 30px;
}

.topmenu li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 80px;
    padding-right: 57px;
    font-size: 18px;
}

.topmenu li:last-of-type {
    padding-right: 0;
}

.content {
    padding-top: 12px;
}

.welcome-content {
    display: table;
    border-collapse: separate;
}


.welcome-left.l, .welcome-right {
    display: table-cell;
    vertical-align: top;
    width: 50%
}


.welcome-blocks {
    display: table-row;
}

.welcome-block {
    display: table-cell;
    padding: 0 7px 17px 0;
    color: white;
    height: 240px;
}

.welcome-block.big {
    width: 504px;
}

.welcome-block.small {
    width: 254px;
}
.welcome-block.small:last-of-type {
    padding-right: 0;
}

.purple .welcome-block-content,
.yellow .welcome-block-content {
    background: linear-gradient(to right, rgba(50,18,91,0.5) 0%,rgba(125,185,232,0) 100%);
    border: 1px solid #ccc;
    height: 100%;
    padding: 10px 0 0 15px;
}

.yellow .welcome-block-content {
    background: #d9ad62;
}

.welcome-block-content h2 {
    display: block;
}
.welcome-block-content small {
    font-size: 14px;
    display: block;
    font-weight: normal;
}

.welcome-block a {
    color: white;
}

.welocme_news {
    padding-top: 10px;
}

.gamacs {
    position: relative;
    height: 340px;
}

.gamacs:before,
.gamacs:after {
    background: url(/images/curved-line-bg.png) repeat-x left 20px;
    content: '';
    position: absolute;
    left: -7px;
    top: 0;
    width: 1036px;
    height: 100%;
    z-index: -1;
}

.gamacs:after {
    background: url(/images/curved-line-bg.png) repeat-x left bottom;
    bottom: 0;
}

.gamacs-title {
    display: block;
    text-align: center;
}

.gamacs-h {
    position: relative;
    display: inline-block;
    background: white;
    padding: 0 40px;
    font-size: 36px;
    font-weight: bold;
    color: #d9ad62;
    z-index: 10px;
}

.gamacs .items {
    padding-top: 23px;
}

.gamacs .item {
    display: inline-block;
    margin: 0 47px;
    width: 126px;
}

.gamacs .item:first-child {
    margin-left: 0px;
}
.gamacs .item:last-child {
    margin-right: 0px;
}

.gamacs .item-img {
    width: 126px;
    height: 193px;
    border: 1px solid #ccc;
    box-shadow: 1px 0px 53px 0px rgba(241,195,47,1);
}

.gamacs .item-title,
.gamacs .item-price {
    padding: 5px 0 0 0;
    text-align: center;
}

.partners {
    padding: 40px 0 0 0;
}


footer {
    /*position: relative;*/
}
.copyright {
    position: absolute;
    left: 22px;
    bottom: -50px;
}

.ip {
    position: absolute;
    right: 22px;
    bottom: -50px;
    text-align: right;
}